:root {
  --deep-blue: #11538c;
  --blue: #049dd9;
  --turquoise: #05dbf2f2;
  --blue-green: #0396a6;
  --grey: #f0f1f2;
}
* {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  line-height: 1.2;
  font-family: "Montserrat", "Verdana", Arial, sans-serif;
}
h1 {
  font-size: 3rem;
  color: var(--blue);
}
::-webkit-scrollbar {
  display: none;
}
h2 {
  font-size: 2rem;
  color: var(--grey);
}
h3 {
  font-size: 1.5rem;
  color: var(--deep-blue);
  text-align: center;
}
header a {
  text-decoration: none;
  color: inherit;
}
ul li {
  list-style: none;
}
ul.show__list li {
  list-style: inherit;
}
button:hover {
  cursor: pointer;
}

/* CLASS GENERIQUE */
.container {
  max-width: 1330px;
  margin: 0 auto;
  padding: 0 15px;
}
.flex {
  display: flex; /* a quoi correspond cette classe?*/
}
.white {
  color: white;
}
.block {
  display: block !important;
}
/* HEADER */
header {
  position: fixed;
  width: 100%;
  padding: 0.5rem 0rem;
  background-color: var(--blue-green);
  color: #fff;
  z-index: 999;
}
.header {
  display: flex;
  align-items: center;
  z-index: 4;
}
.header__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
  z-index: inherit;
}
.header__logo img {
  max-width: 65px;
  max-height: 65px;
  padding-right: 1rem;
}
.header__nav_desktop {
  display: none;
}
.burger__menu {
  z-index: inherit;
  height: 24px;
}
.burger__menu.is-open span:nth-child(2) {
  animation: fadeOutRight 0.3s both;
}
.burger__menu.is-open span:nth-child(1) {
  transform: rotate(-45deg);
}
.burger__menu.is-open span:nth-child(3) {
  transform: rotate(45deg);
}
.burger__menu > span {
  display: block;
  height: 2px;
  width: 19px;
  background-color: white;
  margin: 5px 0;
}
.burger__menu span:nth-child(1) {
  height: 2px;
  width: 19px;
  background-color: white;
  transition: 0.3s;
  transform-origin: top right;
}
.burger__menu span:nth-child(3) {
  height: 2px;
  width: 19px;
  background-color: white;
  transition: 0.3s;

  transform-origin: bottom right;
}
.header__menu_mobile {
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  background-color: var(--blue-green);
  transform: translateX(-100vw);
  transition: transform cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.3s;
  z-index: 3;
  left: 0;
  right: 40vw;
}
.header__menu_mobile ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  gap: 4rem;
  justify-content: center;
}
.header__menu_mobile.is-open {
  transform: translateX(0);
}
.img__hero > img {
  display: block;
  width: 100%;
  max-height: 60vh;
}

/*contact modal */
#myModal {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  align-items: center;
  justify-content: center;
  z-index: 100;
}
.modal-content {
  position: fixed;
  display: flex;
  z-index: 1500;
  align-items: center;
  flex-direction: row-reverse;
  background-color: var(--deep-blue);
  color: black;
  justify-content: right;
  border: 1px solid grey;
  width: 60%;
  height: 60%;
  flex-wrap: wrap;
}
.nom {
  margin-top: 5%;
}
.close {
  width: 2em;
  height: 2em;
  border: solid black 1px;
  box-shadow: -2px 2px 2px 1px rgba(0, 0, 0, 0.7);
  cursor: pointer;
}
.formulaire {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.formulaire div {
  width: 100%;
  height: 100%;
}
/*image*/

/* CARD */
.card img {
  width: 100%;
}
.card__body {
  margin: 10px 5px 10px 5px;
}
.card__container__histoire {
  grid-template-columns: 1;
  grid-template-rows: 4;
  background-color: var(--grey);
}
.card__body__hist {
  padding-right: 2px;
  padding-left: 2px;
}

/*CHRONOLOGIE */
.chronologie {
  display: block;
  width: 80%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
.chronologie__text {
  background-color: rgba(0, 174, 255, 0.15);
  padding: 20px;
  margin-top: 20px;
  display: none;
}

/* FOOTER */
footer {
  margin-top: 2rem;
}
footer p {
  text-align: center;
}
.footer__social {
  padding: 1rem;
  text-align: center;
  background-color: var(--blue);
}
button {
  padding: 1rem 3rem;
  background-color: var(--blue-green);
  border-radius: 1rem;
  border: none;
  color: white;
  box-shadow: 5px 5px black;
  font-size: 18px;
  font-weight: bold;
}
.footer__social button:hover {
  cursor: pointer;
}
.footer__social_media {
  margin-top: 2rem;
}
.footer__social_media ul {
  display: flex;
  justify-content: center;
  padding: 0;
}
.footer__social_media ul li {
  list-style: none;
}
.footer__social_media ul li:not(:last-child) {
  padding-right: 1rem;
}
.footer__social_media ul li img {
  max-width: 29px;
  border-radius: 29px;
}
.footer__adress {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 3rem;
}
.footer__partner {
  margin-top: 2rem;
  padding: 1rem;
  background-color: var(--deep-blue);
  text-align: center;
}
.footer__partner_list_logo img {
  max-width: 59px;
  border-radius: 29px;
}
.footer__partner_list_logo {
  margin-top: 1rem;
}
.footer__partner_list {
  margin-bottom: 1rem;
}
.footer__map img {
  width: 350px;
  height: 250px;
}

@media screen and (min-width: 768px) {
  .card__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0 1rem;
  }

  /* css page histoire*/
  .card__header__img img {
    width: 300px;
    height: 200px;
    margin: 15px;
    display: flex;
  }
  .card__hist {
    display: flex;
    align-items: center;
  }
  .card__pair {
    display: flex;
    flex-direction: row-reverse;
  }
  .footer__social > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer__partner_list {
    display: flex;
    justify-content: center;
    gap: 0 1rem;
  }
  .magazine {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
  }

  .burger__menu {
    display: none;
  }
  .header__logo {
    order: 1;
    text-align: inherit;
    justify-content: flex-start;
  }
  .header__logo img {
    max-width: 85px;
    max-height: 85px;
  }
  .header__nav_desktop {
    display: flex;
    align-items: center;
    order: 2;
  }
  .header__nav_desktop > * {
    min-width: max-content;
  }
  .header__nav_desktop > *:not(:last-child) {
    padding-right: 2rem;
  }
  .magazine a.card.news {
    display: block;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 920px) {
  .header__nav_desktop > * {
    min-width: inherit;
  }
}

@media screen and (min-width: 1060px) {
  .header__logo {
    font-size: 2rem;
  }
}

@keyframes fadeOutRight {
  from {
    opacity: 1;
  }
  to {
    transform: translateX(14px);
    opacity: 0;
  }
}
.magazine .card.news {
  display: block;
  margin-bottom: 1rem;
}
.magazine__card {
  position: relative;
}
.magazine__polygon {
  background: var(--turquoise);
  margin-left: 0;
  clip-path: polygon(25% -1px, 160% -1%, 100% 192%, 1% 57%);
  width: 56%;
  color: #ffffff;
  margin-left: auto;
  height: 360px;
  word-wrap: break-word;
  text-align: right;
}
.magazine__polygon span {
  padding: 0.2rem;
  background-color: white;
  color: var(--deep-blue);
}

.magazine__polygon div {
  padding: 20% 14%;
  max-height: 100%;
  margin-left: 12%;
}
.magazine a {
  text-decoration: none;
  overflow: hidden;
}
.magazine__bg {
  min-height: 360px;
}
.magazine > :nth-child(1) {
  order: 1;
}
.magazine > :nth-child(2) {
  order: 4;
}
.magazine > :nth-child(3) {
  order: 2;
}
.magazine > :nth-child(4) {
  order: 3;
}
.magazine a:nth-child(odd) .magazine__polygon {
  clip-path: polygon(25% -1px, 160% -1%, 100% 192%, 1% 57%);
  transform: rotate(180deg);
  margin-left: 0;
  height: 100%;
  text-align: left;
  height: 360px;
}
.magazine a:nth-child(odd) .magazine__polygon > * {
  transform: rotate(-180deg);
  margin-bottom: 1rem;
}

/* CSS page Démarche et Services */
.grid {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  justify-items: center;
}
.grid img {
  max-width: 100px;
}
.grid p {
  text-align: center;
}
.grid__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.grid__icon1 {
  grid-column: 1;
  grid-row: 1;
}
.grid__icon2 {
  grid-column: 2;
  grid-row: 1;
}
.grid__icon3 {
  grid-column: 1;
  grid-row: 2;
}
.grid__icon4 {
  grid-column: 2;
  grid-row: 2;
}
.grid__icon5 {
  grid-column: 1;
  grid-row: 3;
}
.grid__icon6 {
  grid-column: 2;
  grid-row: 3;
}

#admin {
  display: none;
}
#transport {
  display: none;
}
#health {
  display: none;
}
#teach {
  display: none;
}
#social {
  display: none;
}
#publicMarket {
  display: none;
}
